@import "../colors.scss";

.test {
    color: $primary-green;
    white-space: pre-line;
    position: relative;
    padding: 50px 38px;

    .testBackground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
    }

    .question {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 50px;
    }

    .answer {
        width: 100%;
        height: 83px;
        background-color: $secondary-white;
        border: 2px solid $primary-green;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        line-height: 24px;
        cursor: pointer;
    }

    .answer:active {
        background-color: $primary-green3;
        color: $secondary-white;
    }

    .progressBar {
        margin-top: 60px;

        .front, .back {
            border-radius: 15px;
        }
    }
}
