@import "../colors.scss";

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    margin-bottom: 20px;

    .category {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 55px;
        
        .text {
            .type {
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
            }
            
            .total {
                font-size: 10px;
                line-height: 15px;
                color: #7b7b7b;
            }
        }

        &.type1 {
            border-bottom: 2px solid $type-yellow;
        }

        &.type2 {
            border-bottom: 2px solid $type-purple;
        }

        &.type3 {
            border-bottom: 2px solid $type-pink;
        }

        &.type4 {
            border-bottom: 2px solid $type-blue;
        }
    }
}
