@import "../colors.scss";

.challengeDetail {
    .thumbnailWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .thumbnail {
            width: 100%;
            height: calc(100% * 9/16);
            cursor: default;   
        }

        progress {
            background-color: $primary-green;
            width: 100%;
            height: 8px;
    
            &::-moz-progress-bar {
                background-color: $primary-green3;
                opacity: 50%;
                width: 100%;
                height: 8px;
            }
    
            &::-webkit-progress-bar {
                background-color: $primary-green3;
                width: 100%;
                height: 8px;
            }
    
            &::-webkit-progress-value {
                background-color: $primary-green;
                width: 100%;
                height: 8px;
            }
        }
    }

    .challengeTitle > .title {
        font-size: 22px;
        margin: 0 0 15px 0;
    }

    .countWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        font-size: 20px;
        color: $primary-green;

        span {
            font-size: 16px;
        }
    }

    .description {
        margin-top: 22px;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    }

    .status {
        text-align: center;
        width: 100%;
        margin: 37px 0 32px 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 67px;
        color: $primary-green;
    }

    .startButton {
        width: 100%;
        height: 67px;
        margin: 37px 0 32px 0;
        background-color: $primary-green;
        color: $secondary-white;
        font-weight: 700;
        font-size: 18px;
        border-radius: 18px;
    }
}

.challengeFeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    margin-bottom: 65px;

    img {
        width:100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
    }

    .feed{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        &::before {
            content: "";
            width: 1px;
            height: 0;
            padding-top: calc(100%);
        }
    }
}
