@import "../colors.scss";

.challengeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 21px;
}

.challenge {
    margin-bottom: 30px;
    .thumbnail {
        width: 100%;
        height: calc(100% * 3/4);
        margin-bottom: 7px;
        border-radius: 10px;  
        cursor: pointer;      
    }

    .category {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        font-size: 11px;
        line-height: 16px;
        color: $primary-green;
    }

    .challengeName {
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
    }

    .participants {
        font-size: 9px;
        line-height: 13px;
        color: $primary-green3;
    }
}
