@import "../colors.scss";

.challengeContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    
    .challenge {
        position:relative;
        display: flex;
        flex-direction: row;
        height: 92px;
        margin: 0 0 30px 0;
        padding: 12px 0 12px 29px;
        background: $basic-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    
        .side {
            position: absolute;
            top: 0;
            left: 0;
            width: 19px;
            height: 100%;
            border-radius: 15px 0 0 15px;

            &.yellow {
                background: $type-yellow;
            }
            &.purple {
                background: $type-purple;
            }
            &.pink {
                background: $type-pink;
            }
            &.blue {
                background: $type-blue;
            }
        }
    
        .thumbnail {
            width: 123px;
            height: 68px;
            border-radius: 10px;  
            cursor: pointer;      
        }
    
        .infoWrapper {
            display: flex;
            flex-direction: column;
            margin-left: 13px;
    
            .category {
                display: flex;
                flex-direction: row;
                font-weight: bold;
                font-size: 11px;
                line-height: 16px;
                color: $primary-green;
            }
        
            .challengeName {
                font-weight: bold;
                font-size: 15px;
                line-height: 22px;
            }
        
            .participants {
                position: absolute;
                bottom: 12px;
                font-size: 9px;
                line-height: 13px;
                color: $primary-green3;
            }
        }
    }
}
