@import "../colors.scss";

.inProgressChallenge {
    .thumbnailWrapper {
        display: flex;
        flex-direction: column;

        .thumbnail {
            margin-top: -10px;
            width: 100%;
            height: calc(100% * 9/16);
        }
    
        progress {
            background-color: $primary-green;
            width: 100%;
            height: 8px;
    
            &::-moz-progress-bar {
                background-color: #AFBBB2;
                width: 100%;
                height: 8px;
            }
    
            &::-webkit-progress-bar {
                background-color: #AFBBB2;
                width: 100%;
                height: 8px;
            }
    
            &::-webkit-progress-value {
                background-color: $primary-green;
                width: 100%;
                height: 8px;
            }
        }
    }
    
    .contentsContainer {
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        .status {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            margin-top: 10px;

            p {
                color: $primary-green;
                font-weight: bold;
                font-size: 20px;
            }

            button {
                position: absolute;
                right: 0;
                width: 162px;
                height: 49px;
                background-color: $primary-green;
                border-radius: 18px;
                color: $secondary-white;
                font-weight: bold;
                font-size: 16px;
            }
        }
        
        .status .wrapper {
            margin-right: 25px;
            
            .title {
                margin-bottom: 5px;
                color: $primary-green3;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    
}
