@import "../colors.scss";

.progressBar {
    position: relative;
    margin-top: -1px;
    width: 100%;
    height: 8px;

    .front {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 8px;
        background-color: $primary-green;
    }
    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: $primary-green3;
        opacity: 50%;
    }
}
