@import "./index.scss";

.board {
    margin-bottom: 23px;
    .boardHeader {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 8px;
        p {
            margin: 0 0 8px 8px;
            color: #939394;
            font-size: 11px;
            font-weight: 400;
        }
        .material-icons {
            margin: auto 10px auto auto;
            align-self: center;
            cursor: pointer;
        }
    }
    .boardContents {
        @include board();
        font-size: 11px;
        font-weight: 400;

        &.badge {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 20px 20px 0 20px;
            text-align: center;
        }
        .badge {
            margin-bottom: 20px;
            h3 {
                margin-top: 5px;
            }
            p {
                margin-top: 2px;
                color: #979797;
            }
        }

        &.challenge {
            padding: 20px;
            font-size: 18px;
            font-weight: bold;
            h3 {
                margin-bottom: 15px;
            }
            svg {
                margin-right: 3px;
            }
        }
        .line {
            margin: 20px 0 15px 0;
            width: 100%;
            height: 1px;
            background: rgba(203, 205, 204, 0.5);
            border-radius: 100px;
        }
    }
}

