@import "../colors.scss";

.recommendChallenges {
    margin-top: 30px;

    .challengeWrapper {
        display: grid;
        justify-items: stretch;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
        flex-wrap: wrap;
        margin-bottom: 100px;

        .challenge {
            cursor: pointer;
        }

        .thumbnail {
            width: 100%;
            height: calc(100% * 3/4);
            margin-bottom: 11px;
            border-radius: 10px;
        }

        .category {
            font-weight: bold;
            font-size: 11px;
            color: $primary-green;
            line-height: 16px;
        }

        .challengeName {
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
        }

        .participants {
            font-size: 9px;
            color: $primary-green3;
            line-height: 13px;
        }
    }
    
}
