@import "../colors.scss";

.main > .dailyMission {
  width: 100%;
  margin: 50px 0 80px 0;
  padding: 0 25px;
  text-align: center;

  .title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 26px;
    line-height: 15px;
    color: $primary-green;
  }
    
  .description {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    white-space: pre-line;
    text-align: center;
  }

  .swiper {
    margin-top: 33px;
        
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 256px;
      text-align: center;
    }
  }
}

