@import "../colors";

.main {
    position: relative;
}

.topic {
    margin: 6px 0 20px 0;
    color: $primary-green;
    font-weight: bold;
    font-size: 22px;
    line-height: 15px;
    letter-spacing: 0.32px;
    display: flex;
    flex-basis: 100%;
    align-items: center;

    &::after {
        content: "";
        flex-grow: 1;
        height: 2px;
        background: $primary-green3;
        opacity: 50%;
        border-radius: 10px;
        margin: 0px 0px 0px 16px;
    }
}
