@import "../colors.scss";

.mission {
    margin-top: 25px;

    .thumbnail {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 15px;  
        cursor: pointer;      
    }

    .titleWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 8px;

        .title {
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }

        .participants {
            font-weight: bold;
            font-size: 12px;
            color: $primary-green3;
            cursor: default;
        }
    }

    .description {
        white-space: pre-line;
        font-size: 16px;
        line-height: 20px;
        cursor: default;
    }
    
}
