$primary-green: #4A6F53;
$primary-green2: #4F8947;
$primary-green3: #74A47F;
$secondary-white: #FFFDFA;
$basic-black: #000000;
$basic-white: #FFFFFF;
$success: #2F9055;
$fail: #FF3636;
$type-yellow: #ffe8ba;
$type-blue: #BADAFF;
$type-pink: #FFBAEC;
$type-purple: #D0BAFF;
$type-yellow50: #ffe8ba50;
$type-blue50: #BADAFF50;
$type-pink50: #FFBAEC50;
$type-purple50: #D0BAFF50;
