@import "./colors.scss";
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    font-family: Consolas,monaco,monospace;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: $primary-green;
    white-space: pre-line;

    .message {
        font-family: Consolas,monaco,monospace;
        font-size: 28px;
    }

    svg {
        margin: 40px 0 12px 0;
    }
}
