@import "./colors";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 23px 0;
    margin-bottom: 30px;
    color: $primary-green;

    .title {
        position: absolute;
        top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 24px;
    }
}
