@import"./colors";

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    bottom : 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 62px;
    background-color: $basic-white;
    
    
    .buttonWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: $basic-black;
        
        .material-icons {
            cursor: pointer;
            margin-bottom: 7px;
        }
    }
}
