@charset "utf-8";
@import "./common";
@import "./colors";
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote {
  &:before, &:after {
    content: '';
    content: none; } 
}
q {
  &:before, &:after {
    content: '';
    content: none; } 
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button, input {
  outline: none;
  border: none;
}
button, a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/*
 * Clearfix
 * 
 * For modern browsers
 * 1. 자손에 float 속성을 적용하면 부모 overflow 속성에 hidden 키워드를 적용합니다. (One True Layout 방식)
 * 2. 또는 clear 속성에 both 키워드 적용합니다.
 */
.clearfix {
  &::before, &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// moblie first responsive
@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  #app {
    width: 100%;
  }
}
@media only screen and (min-width: 376px){ 
  html {
    display: flex;
    justify-content: center;
  }
  #app {
    width: 375px;
  }
} 

html {
  background-color: $secondary-white;
}

h1 {
  color: $primary-green;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.5px;
  letter-spacing: 0.32px;
}
