@import "../colors.scss";

.postComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 88px;
    padding: 20px;

    .userImage {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 100%;
    }

    .userName {
        margin-right: 7px;
        font-weight: bold;
        font-size: 15px;
    }

    .comment {
        font-size: 13px;
    }
}

.commentWrite {
    position: absolute;
    bottom: 62px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    .userImage {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 100%;
    }

    .comment {
        width: 100%;
        height: 36px;
        padding: 5px 60px 5px 15px;
        border: 1px solid #C4C4C4;
        border-radius: 15px;
    }

    .uploadComment {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 30px;
        font-weight: bold;
        font-size: 14px;
        color: $primary-green;
        background-color: transparent;
    }
}
