@import "../colors.scss";

.postUpload {
  position: relative;
  margin-top: 74px;

  .uploadButton {
    position: absolute;
    top: 16px;
    right: 30px;
    height: 40px;
    font-size: 18px;
    color: $primary-green3;
    background-color: transparent;
  }
  
  .postUploadImage {
    padding: 0 20px 20px 20px;
    width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    
    .selectedImage {
      width: 100px;
      height: 100px;
      border-radius: 15px;
      margin-right: 10px;
    }
  }

  .postUploadText {
    padding: 0 20px;
  
    textarea {
      width: 100%;
      height: 530px;
      margin-bottom: 80px;
      padding: 15px 20px;
      border-radius: 15px;
      border: 1px solid $primary-green;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}


